# See https://raw.githubusercontent.com/ansible/ansible/devel/examples/ansible.cfg
[defaults]
inventory = ./inventory
private_key_file =  H:/.shh/Pers_OpenSSH_priv_no_pass_new_format
# This gives us longer to enter the private key's passphrase (if any)
timeout = 30 

[ssh_connection]
pipelining = True
