[targets]
# Amend as required, based on the host[s] you're configuring, and rename this
# file to "inventory".
brightos-al10.yourlan.yourdomain system_hostname=brightos-al10
brightos-ub24.yourlan.yourdomain system_hostname=brightos-ub24